#MainNav, #desktopNav {
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: 0 10px;
	  a{
		@include base-text;
		text-align: center;
		color: #ffffff;
		transition: color .5s;
		&:hover {
		  color: $red-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
#MainNav ul {
  flex-direction: column;
}
header {
  padding: 15px 4.5%;
  background-color: #000000;
  .social-link-item {
	margin: 0 4px;
	img {
	  width: size(30);
	  min-width: size(30);
	}
  }
}
.social-link-item {
  margin: 0 7px;
  img {
	width: size(49);
  }
}
.header-col-links {
  display: flex;
  align-items: center;
}
.header-btn {
  display: block;
  margin: 0 9px;
  position: relative;
  cursor: pointer;
  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 11px;
	background-color: $red-main;
	border-radius: 50%;
  }
  svg, img {
	min-width: 19px;
	height: auto;
	fill: #ffffff;
  }
  &:last-child {
	margin-left: 0;
  }
}
.tel-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 size(15);
}
.tel-title {
  color: #cccccc;
  font-size: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(18);
  margin-bottom: 5px;
}
.tel-number {
  @include base-text;
  color: #ffffff;
  transition: color .5s;
}
.tel-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
	width: size(22);
	margin-right: size(15);
  }
  &:hover {
	.tel-number {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
//Footer
//Footer
.footer-main {
  padding: size(100) 0 size(30) 0;
  background-color: #000000;
}
.foo-title, .to-top-text {
  @include mid-text;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 25px;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 10px;
	a {
	  display: flex;
	  justify-content: flex-start;
	  @include base-text;
	  align-items: center;
	  font-weight: 400;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $red-main;
		transition: color .5s;
	  }
	}
  }
}
.loc-icon {
  width: 8px;
  margin-left: 5px;
}
#go-top {
  position: absolute;
  top: -3.5rem;
  right: size(25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(40);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.foo-link-item {
  color: #cccccc;
  font-size: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  transition: color .5s;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
.foo-socials {
  margin-top: 100px;
}
