.post-item-col {
  margin-bottom: size(45);
}
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.post-item-img {
  position: relative;
  @include back-img;
  @include d-center;
  width: 100%;
  margin-bottom: 8px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 72.5%;
  }
}
.play-button {
  @include overlay;
  @include d-center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(50);
  }
}
.post-item-title {
  font-size: size(24);
  line-height: size(26);
  text-align: center;
  font-weight: 500;
  margin-bottom: 11px;
  color: $red-main;
  &:hover {
	color: $red-main;
  }
}
.home-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 size(15);
}
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Gallery of images
.gallery-block-part {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.gallery-item-base {
  flex: 0 0 25%;
  max-width: 25%;
}
.gallery-item-img {
  position: relative;
  display: flex;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 88%;
  }
  .cursor-pointer {
	position: absolute;
	width: size(30);
	top: 17px;
	right: 15px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
//Reviews/members
.member-part-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.member-part-col {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  margin-bottom: 30px;
}
.member-image  {
  width: 100%;
  @include back-img;
  margin-bottom: size(26);
  &:after {
	content: '';
	display: block;
	padding-bottom: 79%;
  }
}
.country-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  .base-text {
	color: #333333;
	text-align: center;
  }
  img {
	width: size(27);
	margin-left: 10px;
  }
}
.card-member-img {
  @include overlay;
  z-index: 10;
}
.overlay-review-wrap {
  @include overlay;
  z-index: 8;
  padding: size(28) size(15);
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: opacity, transform .5s;
  &.show {
	z-index: 12;
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
	transition: opacity, transform .5s;
  }
}
.overlay-review-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5% 5% 15px 5%;
  background-color: rgba(0, 0, 0, 0.8);
}
.rev-item-title {
  @include mid-text;
  padding: 0 size(25);
  border-bottom: 2px solid #000000;
  margin-bottom: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.card-member-close {
  width: size(18);
  margin-top: 10px;
}
//Product page
.slick-prev:before, .slick-next:before{
  color: transparent;
}
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 33;
  width: size(24);
  height: size(37);
}
[dir="rtl"] .slick-prev {
  background-image: url("../iconsall/slider-arrow-right.png");
}
[dir="rtl"] .slick-next {
  background-image: url("../iconsall/slider-arrow-left.png");
}
.reviews-block {
  [dir="rtl"] .slick-next {
	left: -5rem;
  }
  [dir="rtl"] .slick-prev {
	right: -5rem;
  }
}
.main-product-slider {
  [dir="rtl"] .slick-next {
	left: 1rem;
  }
  [dir="rtl"] .slick-prev {
	right: 1rem;
  }
}
.prod-slide {
  @include back-img;
  height: size(508);
}
.product-card-col {
  margin-bottom: size(40);
  .woocommerce-loop-product__title {
	color: #000000;
	font-size: size(30);
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(32);
	text-align: center;
	margin-bottom: 5px;
	transition: color .5s;
	&:hover {
	  color: $red-main;
	  transition: color .5s;
	}
  }
  .woocommerce-loop-product__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }
}
.card-prod-img {
  margin-bottom: size(43);
  img {
	height: size(300);
  }
}
.sku-custom-title {
  color: $red-main;
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  text-align: center;
  margin-bottom: 5px;
}
.upsale-small-title {
  @include mid-text;
  text-align: center;
  color: #000000;
  transition: color .5s;
  margin-bottom: 10px;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
.product-sale-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.product-sale-image {
  width: 100%;
  margin-bottom: 13px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
//Content with table on product page
.product-content-table-out {

}
.product-rev-video {
  position: relative;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 45%;
  }
}
.offer-section {
  margin: size(20) 0;
  background-color: #000000;
  padding: size(40) 0;
}
.offer-title {
  font-size: size(89);
  line-height: size(90);
  text-align: center;
  font-weight: 500;
  color: $red-main;
  margin-bottom: size(20);
}
.centered-white-output {
  * {
	color: #ffffff;
	text-align: center;
  }
  p {
	font-size: size(30);
	line-height: size(30);
	margin-bottom: 10px;
  }
}
//Product parts
.part-item {
  position: relative;
  width: 100%;
  @include back-img;
  cursor: pointer;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  &:hover {
	.part-item-overlay {
	  opacity: 1;
	  transition: opacity .5s;
	}
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.part-item-overlay {
  @include d-center;
  @include overlay;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.58);
  padding: size(45);
  opacity: 0;
  overflow-y: auto;
  transition: opacity .5s;
  .part-item-title, .base-text {
	color: #ffffff;
	text-align: center;
  }
}
.part-item-title {
  @include mid-text;
  font-weight: 400;
  margin-bottom: 10px;
}
.add-to-cart-line {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: $red-main;
  min-height: size(56);
  z-index: 99999;
  border-bottom: 6px solid #000000;
  padding: 8px 0;
  .quantity {
	display: none !important;
  }
}
.col-add-line {
  display: flex;
  align-items: center;
  justify-content: center;
  .price {
	@include mid-text;
	margin: 0 20px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: unset !important;
  }
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: transparent;
  border: 2px solid #ffffff;
  min-height: size(39);
  padding: 10px size(30);
  @include mid-text;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0 !important;
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: #000000;
	transition: background-color .5s;
  }
}
.page-prod-img {
  margin-top: -7rem;
  margin-bottom: size(86);
}
.process-bar-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  width: 100%;
  min-height: size(43);
  background-color: #eeeeee;
}
.process-line-color {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background-color: #d9534f;
  .process-bar-title {
	position: absolute;
	left: 10px;
	font-weight: 400;
  }
}
.process-bar-title {
  position: relative;
  @include mid-text;
  color: #ffffff;
  font-weight: 500;
  z-index: 9;
}
//Forms
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  padding-left: 8px;
  background-image: url("../iconsall/select.png");
  background-size: size(22);
  background-position: size(23) center;
  background-repeat: no-repeat;
}
div.wpcf7 textarea {
  padding: size(30) size(35);
  height: size(364);
}
div.wpcf7 input[type="submit"] {
  position: relative;
  border: none;
  background-color: $red-main;
  @include input-text;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: size(67);
  padding: size(14) size(45);
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
//Popup
.search-trigger {
  margin-right: 10px;
  img {
	width: size(18);
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.close-search {
  position: absolute;
  right: size(15);
  top: size(15);
  cursor: pointer;
  img {
	width: size(18);
  }
}
.pop-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-search {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.float-search {
  position: relative;
  width: 100%;
  max-height: unset;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  opacity: 0;
  padding: 40px;
  background-color: $red-main;
  &.show-float-search {
	opacity: 1;
	transform: translateY(0);
  }
}
.search-form {
  @include d-center;
  input[type="search"] {
	flex-grow: 1;
	height: size(51);
  }
  input[type="submit"] {
	width: size(51);
	height: size(51);
	min-width: size(51);
	background-image: url("../iconsall/search.png");
	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
  }
}
.check-col {
  margin: 1rem 0 2rem 0;
  .wpcf7-list-item {
	margin: 0;
  }
  label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0;
	margin-top: -1rem;
  }
  input {
	min-width: size(36);
	width: size(36);
	margin-left: 24px;
	border: 1px solid #000000;
	background-color: #ffffff;
  }
  span {
	@include mid-text;
	color: #000000;
  }
}
//Instagram block
.insta-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 59px 7px rgba(0, 0, 0, 0.16);
  background-color: #000000;
  border: 9px solid #ffffff;
  border-radius: 100px;
  padding: size(35) 14% size(35) 25%;
  position: relative;
}
.insta-img {
  position: absolute;
  @include d-center;
  flex: 0 0 17.5%;
  max-width: 17.5%;
  left: 5%;
  z-index: 3;
}
.insta-title {
  font-family: $glida;
  color: $red-main;
  font-size: size(89);
  line-height: size(90);
  font-weight: 400;
  text-align: center;
}
.insta-tag {
  @include base-title;
  text-transform: uppercase;
}
.insta-name {
  @include bigger-title;
}
.insta-tag, .insta-name {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
