/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1500px) {
  .tech-body {
	background-size: 50%;
  }
  .reviews-block {
	[dir="rtl"] .slick-next {
	  left: -6.5rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -6.5rem;
	}
  }
  .absolute-post-image {
	flex: 0 0 55%;
	max-width: 55%;
  }
  .card-prod-img {
	margin-bottom: size(63);
	img {
	  height: size(530);
	}
  }
  .post-item-title {
	@include base-title;
  }
  .bigger-link, .bigger-main-link {
	min-height: size(56);
	padding: size(10) size(50);
  }
  .bigger-main-link {
	background-position: size(28);
	background-size: size(15);
  }
  //Main slider on homepage
  .home-main-title {
	font-size: size(72);
	line-height: size(74);
  }
  .cats-col-line {
	justify-content: space-between;
  }
  .container {
	max-width: 75%;
  }
  .overlay-review-wrap {
	padding: size(38) size(25);
  }
  .overlay-review-item {
	padding: 10% 10% 18px 10%;
  }
  .serfer-img {
	flex: 0 0 15%;
	max-width: 15%;
  }
  .serf-2 {
	top: size(50);
	left: 8%;
  }
  .serf-1 {
	bottom: size(136);
	right: 5%;
  }
}
@media (max-width: 1500px) {
  header {
	padding: 15px;
  }
  .page-serf-1 {
	top: 5px;
	right: 0;
  }
  .header-socials {
	position: fixed;
	left: 0;
	top: 20%;
	z-index: 9999;
	.socials-line {
	  flex-direction: column;
	}
	.social-link-item {
	  margin: 4px 0;
	}
  }
}
@media (max-width: 1350px) {
  .reviews-block {
	[dir="rtl"] .slick-next {
	  left: -3rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -3rem;
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  #MainNav {
	display: none !important;
  }
  #desktopNav {
	.back-to-menu, .sub-head {
	  display: none;
	}
  }
  .drop-container {
	.second-sub-menu {
	  margin-left: 1rem;
	  flex: 0 0 100%;
	  max-width: 100%;
	  a {
		@include base-text;
		&:hover {
		  text-decoration: underline;
		  color: #333333;
		}
	  }
	  &.menu-item-has-children {
		flex-direction: column;
	  }
	}
  }
  header .drop-container ul.sub-menu {
	display: flex;
	flex-wrap: wrap;
	li {
	  &.menu-item-has-children {
		border-left: 1px solid #000000;
		flex: 0 0 20%;
		max-width: 20%;
		&:last-child {
		  border: none;
		}
	  }
	  a {
		@include mid-text;
		color: #333333;
	  }
	}
	ul.sub-menu {
	  flex-direction: column;
	  li {
		a {
		  @include base-text;
		  &:hover {
			text-decoration: underline;
			color: #333333;
		  }
		}
	  }
	}
  }
  header {
	position: relative;
  }
  header #desktopNav {
	ul.sub-menu {
	  display: none;
	  //position: absolute;
	  //display: flex;
	  //flex-direction: column;
	  //top: 100%;
	  //background: white;
	  //right: 0;
	  //width: 100%;
	  //opacity: 1;
	  //pointer-events: none;
	  //height: auto;
	  //z-index: 2222;
	}
	li.menu-item-has-children {
	  background-image: url("../iconsall/menu-arrow.png");
	  background-position: left center;
	  background-repeat: no-repeat;
	  cursor: pointer;
	  background-size: 8px;
	}
  }

}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  #desktopNav {
	display: none;
  }
  .tech-body {
	background-image: none;
  }
  .reviews-block {
	[dir="rtl"] .slick-next {
	  left: -5.5rem;
	}
	[dir="rtl"] .slick-prev {
	  right: -5.5rem;
	}
  }
  .cat-img-wrap {
	min-height: size(180);
  }
  .cats-col-line {
	justify-content: center !important;
  }
  .tels-col-header {
	flex-direction: column;
	justify-content: center !important;
	align-items: flex-end !important;
  }
  .tel-col {
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
  }
  .tel-title {
	margin-bottom: 0;
	margin-left: 10px;
  }
  .serfers-cart {
	flex: 0 0 65%;
	max-width: 65%;
  }
}
@media (max-width: 1060px) {
  .reviews-block {
	[dir="rtl"] .slick-next {
	  left: -3.5rem;
	}

	[dir="rtl"] .slick-prev {
	  right: -3.5rem;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .serfers-cart {
	flex: 0 0 88%;
	max-width: 88%;
  }
  .page-serfer-img {
	display: none;
  }
  .reviews-block {
	[dir="rtl"] .slick-next,
	[dir="rtl"] .slick-prev {
	  top: 100%;
	  width: size(16);
	  height: size(22);
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2rem);
	}
  }
  .tels-col-header {
	background-color: #000000;
	position: fixed;
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
	bottom: 0;
	z-index: 9999;
	right: 0;
	padding: 10px 15px 0 15px;
	flex-direction: row;
  }
  .post-item-title {
	@include base-title;
  }
  .body-output-part {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  .absolute-post-image {
	position: relative;
	flex: 0 0 85%;
	max-width: 85%;
	margin-bottom: 1.5rem;
	left: unset;
	order: 2;
  }
  .serfer-img {
	display: none;
  }
  .cats-col-line {
	flex-wrap: wrap;
  }
  .cat-img-wrap {
	margin-bottom: 2.5rem;
  }
  .bigger-link, .bigger-main-link {
	min-height: size(50);
	font-size: size(26);
	line-height: size(28);
  }
  .bigger-main-link {
	background-position: size(16);
	background-size: size(13);
  }
  .home-main-title {
	font-size: size(48);
	line-height: size(50);
  }
  .main-slide-item {
	padding: 2rem 1rem;
	&:after {
	  padding-bottom: 52.5%;
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .gallery-item-img {
	.cursor-pointer {
	  width: size(20);
	  top: 7px;
	  right: 5px;
	}
  }
  .member-part-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .col-cat-main {
	margin-bottom: 1rem;
  }
  .page-body {
	.home-main-title {
	  @include bigger-title;
	  margin-bottom: 0;
	}
  }
  .block-page-text {
	h2 {
	  font-size: size(44);
	  line-height: size(45);
	}
	h3 {
	  font-size: size(40);
	  line-height: size(38);
	}
	h4 {
	  @include base-title;
	}
	h5 {
	  font-size: size(30);
	  line-height: size(32);
	}
	h6 {
	  @include mid-text;
	}
	p, li {
	  @include base-text;
	}
  }
  .insta-title {
	font-size: size(59);
	line-height: size(60);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .serfers-cart {
	display: none;
  }
  .home-main-title {
	font-size: size(40);
	line-height: size(42);
  }
  .main-slide-item {
	padding: 2rem;
	&:after {
	  padding-bottom: 65.5%;
	}
  }
  .quotes {
	font-size: size(159);
	line-height: size(90);
  }
  .quote-bottom {
	bottom: -3.5rem;
	left: 1rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .gallery-item-base {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .arrow-top {
	left: size(10);
	width: size(18);
  }
  .offer-title {
	font-size: size(59);
	line-height: size(60);
  }
  .insta-wrap {
	padding: 2.4rem 4%;
  }
  .insta-img {
	left: unset;
	top: -2rem;
	width: 4rem;
  }
  .insta-title {
	font-size: size(49);
	line-height: size(50);
  }
  .insta-tag {
	@include mid-text;
  }
  .insta-name {
	@include base-title;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .cat-item-wrap {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .cats-container {
	margin-top: 1rem;
  }
  .reviews-wrapper {
	padding: size(37) size(17) size(45) size(17);
	box-shadow: 0 0 21px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .offer-title {
	font-size: size(50);
	line-height: size(52);
  }
  .post-item-title {
	font-size: size(30);
	line-height: size(32);
  }
  .tels-col-header {
	flex-direction: column;
	justify-content: center !important;
	align-items: center !important;
  }
}
