@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "partials";

body {
  font-family: Assistant, sans-serif;
  color: #000000;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.show-col {
  display: block !important;
}
.base-text {
  @include base-text;
  color: #000000;
}
.block-title {
  @include giant-title;
  text-align: center;
  color: #000000;
  margin-bottom: size(54);
}
.block-title-small {
  @include bigger-title;
  text-align: center;
  color: #000000;
  margin-bottom: size(34);
}
.base-link, .woocommerce-message .button.wc-forward {
  @include d-center;
  @include mid-text;
  min-height: size(48);
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: size(10) size(43);
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $red-main;
	transition: background-color .5s;
  }
}
.bigger-link, .bigger-main-link {
  min-height: size(56);
  padding: size(10) size(50);
  @include base-title;
}
.bigger-main-link {
  background-image: url("../iconsall/arrow-left.png");
  background-position: size(18);
  background-size: size(15);
  background-repeat: no-repeat;
}
//Main slider on homepage
.home-main-title, .base-output h1 {
  @include giant-title;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: size(20);
}
.base-output h1 {
  font-weight: 500;
  color: #000000;
}
.home-main-block {
  position: relative;
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 50%;
	display: flex;
	flex-direction: column;
	width: 90%;
	right: 1rem;
  }
  ul.slick-dots {
	li {
	  margin: 1.5px 0;
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: size(16);
		height: size(16);
		background-color: #ffffff;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $red-main;
  }
}
.slide-home {
  @include back-img;
}
.main-slide-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding-bottom: size(40);
  &:after {
	display: block;
	content: '';
	padding-bottom: 32.5%;
  }
}
.cats-block-home {
  padding: size(38) 0;
  .block-title {
	text-transform: uppercase;
  }
}
.col-cat-main {
  .bigger-link {
	min-width: size(214);
  }
}
.home-cats-images-block {
  .cats-back-image {
	width: 100%;
  }
}
.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: size(40);
  transition: margin-top .5s;
  .base-text {
	text-align: center;
	transition: color .5s;
  }
  &:hover {
	margin-top: -2rem;
	transition: margin-top .5s;
	.base-text {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
.cat-img-wrap {
  flex-grow: 1;
  min-height: size(240);
  margin-bottom: size(32);
}
.cats-col-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cats-container {
  margin-top: -4rem;
}
//Gallery on homepage
.margin-50 {
  margin: size(50) 0;
}
.gallery-item {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
//Reviews on homepage
.review-col-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.review-name, .mid-title-center {
  font-size: size(30);
  line-height: size(32);
  margin-bottom: 10px;
  color: #000000;
}
.review-name {
  font-weight: 700;
}
.review-subtitle {
  @include mid-text;
  color: $red-main;
  font-weight: 500;
  margin-bottom: 16px;
}
.base-small-output {
  h1, h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(30);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(24);
	line-height: size(26);
  }
  h6 {
	font-size: size(21);
	line-height: size(22);
  }
  p, li {
	@include base-text;
	color: #000000;
	margin-bottom: size(30);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
  }
  li {
	list-style: disc;
  }
}
.base-output {
  h2 {
	@include base-title;
	margin-bottom: size(25);
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
  h3 {
	font-size: size(32);
	line-height: size(30);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(26);
	line-height: size(26);
  }
  h6 {
	font-size: size(24);
	line-height: size(22);
  }
  p, li {
	@include mid-text;
	color: #000000;
  }
  p {
	margin-bottom: size(40);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
  }
  ul {
	list-style: disc;
  }
  ol {
	margin: 1rem 0;
	padding: 0 1rem 0 0;
  }
}
.socials-line {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 10px 0;
}
.social-link {
  @include d-center;
  margin-left: 12px;
  img {
	width: size(24);
  }
}
.reviews-wrapper {
  padding: size(57) size(67) size(85) size(67);
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.quotes {
  position: absolute;
  z-index: 11;
  color: #e1e1e1;
  font-size: size(259);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(120);
  text-align: center;
}
.quote-top {
  right: size(17);
  top: -0.5rem;
}
.quote-bottom {
  left: size(39);
  bottom: -5rem;
}
//Video on homepage
.video-home {
  @include d-center;
  position: relative;
  video {
	width: 100%;
  }
}
.button-home {
  @include overlay;
  @include d-center;
  cursor: pointer;
  transition: opacity .5s;
  &.hide {
	opacity: 0;
	transition: opacity .5s;
  }
  img {
	width: size(50);
  }
}



//Page blog
.page-body {
  .home-main-title {
	font-size: size(72);
	line-height: size(67);
	color: $red-main;
	font-weight: 500;
  }
}
.block-page-text {
  margin-bottom: size(40);
  * {
	text-align: center;
  }
  h2, h3, h4, h5, h6, p, li {
	color: #000000;
  }
  h2 {
	@include giant-title;
	font-weight: 400;
  }
  h3 {
	font-size: size(50);
	line-height: size(50);
  }
  h4 {
	font-size: size(42);
	line-height: size(44);
  }
  h5 {
	@include base-title;
  }
  h6 {
	font-size: size(30);
	line-height: size(32);
  }
  p, li {
	@include mid-text;
  }
  p {
	margin-bottom: size(40);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
  }
  li {
	list-style: disc;
  }
}
//Reviews
.review-text-wrapper {
  max-height: 80%;
  overflow-y: auto;
  h1, h2, h3, h4, h5, h6, p, li {
	text-align: center;
	color: #ffffff;
  }
  p {
	font-size: size(18);
	line-height: size(30);
	margin-bottom: size(30);
  }
}
.load-more-link {
  border: 3px solid #000000;
  background-color: #ffffff;
  font-weight: 400;
  color: #000000;
  padding: size(15) size(38) size(15) size(70) !important;
  background-image: url("../iconsall/arrow-more.png");
  background-position: size(24) center;
  background-size: size(20);
  background-repeat: no-repeat;
  cursor: pointer;
  &.hide {
	display: none;
  }
}
.card-member-col {
  display: none;
  &.show-col {
	display: block;
  }
}
.top-block-back {
  @include back-img;
  height: size(236);
  margin-bottom: size(30);
  background-image: url("../img/shop-top.png");
}
//Faq
.faq {
  margin: size(50) 0;
  .question-header {
	border: none !important;
  }
  .card {
	border: none !important;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: 10px;
  }
}
.question-title {
  display: flex;
  align-items: center;
  @include base-text;
  color: #ffffff;
  text-align: right;
  border: none !important;
  border-radius: 0 !important;
  background-color: #000000;
  transition: background-color .5s;
  padding: size(12) size(15) size(12) size(46);
  min-height: size(51);
  width: 100%;
  &:hover {
	color: #ffffff;
  }
}
.answer-body {
  background-color: transparent;
  padding: size(15) size(14) size(18) 10%;
  &.base-small-output p {
	margin-bottom: 0;
  }
}
.arrow-top {
  position: absolute;
  left: size(15);
  width: size(28);
  transition: transform .5s;
  cursor: pointer;
}
.arrow-bottom {
  transform: rotate(180deg);
  transition: transform .5s;
}
.active-faq {
  background-color: $red-main !important;
  transition: background-color .5s;
}
//Product
.product-term-link {
  background-color: $red-main;
  margin-bottom: size(70);
  &:hover {
	background-color: #000000;
  }
}
.prod-cat-main-title {
  color: #000000;
}
.block-en-title {
  color: $red-main;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.mid-title-center {
  text-align: center;
  font-weight: 400;
}
.sizes-title {
  color: $red-main;
  text-transform: uppercase;
}
//Contact page
.contact-page-body {
  position: relative;
  @include back-img;
  background-image: url("../img/contact-back.png");
  padding-top: size(65);
  .block-title {
	color: $red-main;
	margin-bottom: 0;
  }
  .home-main-title {
	color: #000000;
	font-weight: 400;
	margin-bottom: 15px;
  }
}
.serfer-img {
  position: absolute;
  flex: 0 0 25%;
  max-width: 25%;
  @include d-center;
}
.serf-2 {
  top: size(30);
  left: 1rem;
}
.serf-1 {
  bottom: size(36);
  right: 1rem;
}
//Post
.post-body-page {
  .home-main-title {
	color: $red-main;
	font-weight: 500;
	text-align: right;
	margin-bottom: 25px;
  }
}
.post-image-top {
  height: size(402);
  width: 100%;
  @include back-img;
  margin-bottom: size(70);
  background-image: url("../img/post-top.png");
}
.body-output-part {
  position: relative;
}
.absolute-post-image {
  position: absolute;
  left: size(50);
  flex: 0 0 40%;
  max-width: 40%;
  img {
	width: 100%;
  }
}
//Technology
.block-tech-section {
  position: relative;
}
.page-serfer-img {
  position: absolute;
  flex: 0 0 20%;
  max-width: 20%;
}
.page-serf-1 {
  top: size(45);
  right: size(50);
}
.page-serf-2 {
  bottom: size(28);
  left: 0;
  padding-top: size(78);
}
.year-title {
  color: $red-main;
  font-weight: 400;
  text-align: center;
  margin-bottom: 13px;
}
.tech-body {
  padding: size(38) 0;
  background-image: url("../img/tech-back-main.png");
  background-position: left bottom;
  background-size: 70%;
  background-repeat: no-repeat;
}
.tech-content-block {
  padding-top: size(78);
}
.little-block-title, .base-text-item {
  @include mid-text;
  color: #000000;
  font-weight: 400;
}
.little-block-title {
  text-align: center;
  margin-bottom: 11px;
}
.image-item {
  img {
	width: 100%;
	margin-bottom: 15px;
  }
}
.content-item-col {
  margin-bottom: 15px;
}
.content-item-col:first-child,
.content-item-col:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
  .image-item {
	img {
	  margin-bottom: 0;
	}
  }
  .base-text-item {
	margin-bottom: 10px;
  }
}
.col-only-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-top {
  background-image: url("../img/shop-top.png");
}
.woocommerce-message {
  border-top-color: #000000;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-top: 3px solid $red-main;
}
.woocommerce-message::before {
  color: $red-main;
}
//Cart styles
.cart-top {
  position: relative;
  @include back-img;
  background-image: url("../img/cart-top.png");
  height: size(262);
}
.serfers-cart {
  position: absolute;
  left: 5%;
  bottom: -4rem;
  z-index: 3;
  flex: 0 0 42%;
  max-width: 42%;
}
.cart-body {
  background-image: url("../img/cart-back.png");
  @include back-img;
  padding: size(90) 0 size(50) 0;
}
.woocommerce table.shop_table {
  border: 1px solid #000000 !important;
  border-radius: 0 !important;
  .product-name a {
	@include mid-text;
	color: #000000;
	font-weight: 400;
  }
}
.woocommerce table.shop_table td {
  border-top: 2px solid #000000 !important;
}
.woocommerce table.shop_table th {
  font-size: size(30);
  line-height: size(32);
  font-weight: 500;
}
.cart-collaterals {
  table.shop_table {
	border: 1px solid #000000 !important;
	td {
	  border: none !important;
	}
	tr {
	  border-bottom: 1px solid #000000 !important;
	}
  }
  table.shop_table th {
	border: none !important;
  }
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @include mid-text;
  font-weight: 400;
  &.disabled {
	background-color: #eeeeee;
  }
}
.woocommerce a.remove {
  font-weight: 400;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  width: unset;
  float: unset;
}
.woocommerce-error {
  padding-right: 3rem !important;
}
.woocommerce-error::before {
  top: 0;
}
input[type="text"]#coupon_code {
  height: size(40);
  border: 1px solid #000000;
  background-color: transparent;
  &::placeholder {
	@include base-text;
	color: #000000;
  }
}
.coupon {
  display: flex;
  align-items: stretch;
}
.wc-proceed-to-checkout {
  display: flex;
  justify-content: flex-end;
}
.woocommerce .cart-collaterals #respond input#submit,
.woocommerce .cart-collaterals a.button,
.woocommerce .cart-collaterals button.button,
.woocommerce .cart-collaterals input.button,
.clear-cart-block .base-link {
  background-color: $red-main;
  height: size(40);
  @include mid-text;
  font-weight: 400;
  padding: 10px size(35);
  border-radius: 0 !important;
  border: none !important;
  color: #ffffff;
  @include d-center;
  &.black-link {
	background-color: #000000;
  }
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
  width: unset;
  height: size(129);
}
//Dropdown
.drop-container {
  position: absolute;
  top: 100%;
  border-top: 2px solid $red-main;
  background-color: #ffffff;
  right: 0;
  width: 100%;
  height: auto;
  display: none;
  padding: size(24) 4.5%;
  z-index: 999999;
  //&.show {
	//opacity: 1;
	//transition: opacity .5s;
  //}
}
.back-to-menu, .sub-head {
  display: block;
}
@import "responsive";
